:root {
  --primary-color: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --soft-pink: hsl(333, 80%, 67%);
}

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  background-color: var(--very-dark-blue);
  background-image: url(/landing-page/fylo-data-storage-component-master/images/bg-desktop.png);
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: bottom center;
  color: var(--pale-blue);
  margin: 0;
}
