:root {
  --violet-color: hsl(257, 40%, 49%);
  --very-dark: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url(/huddle-landing-page-with-single-introductory-section-master/images/bg-desktop.svg);
  background-color: var(--violet-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #fff;
}
